@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

@font-face {
	font-family: 'Misaki Gothic';
	src: url('/fonts/misaki_gothic.ttf');
}

#stream_bg {
	width: 1920px;
	height: 1000px;
}

.box {
	position: revert;
	margin: -4.5px;
	font-size: 24px;
	line-height: 30px;
}

.box .header {
	padding-bottom: 2px;
}

#playing_fields {
	display: flex;
}

.player {
	width: 960px;
	height: 1000px;
	display: grid;
}

.p1 {
	grid-template:
		'. . .' 1fr
		'. . scores' auto
		'. info board' auto
		'. name name' auto
		'. . .' 1fr /
		1fr auto auto;
}

.p2 {
	grid-template:
		'. . .' 1fr
		'scores . .' auto
		'board info .' auto
		'name name .' auto
		'. . .' 1fr /
		auto auto 1fr;
}

.scores {
	grid-area: scores;
	display: grid;
	grid-template:
		'score lines' auto
		'score next' auto /
		1fr auto;
}

.score {
	grid-area: score;
	padding: 3px;
	width: 224px;
	height: 100px;
	margin-top: auto;
}

.score .value,
.score .diff {
	font-size: 32px;
	line-height: 36px;
	text-align: right;
	white-space: pre-wrap;
}

.linesnext {
	display: flex;
}

.lines {
	grid-area: lines;
	padding: 3px;
	width: 100px;
	height: 61px;
}

.next_piece {
	grid-area: next;
	--border-size: 12;
	padding: 3px;
	width: 106px;
	height: 56px;
}

.next_piece .value {
	position: relative;
	width: 106px;
	height: 56px;
}

.info {
	grid-area: info;
	display: grid;
	grid-template:
		'.' 1fr
		'level' auto
		'trt' auto /
		1fr;
}

.info .level {
	grid-area: level;
	width: 78px;
	height: 61px;
	padding: 3px;
}

.info .drought {
	grid-area: trt;
	width: 78px;
	height: 61px;
	padding: 3px;
}

.drought {
	opacity: 0;
	color: red;
}

.drought.active {
	opacity: revert;
}

.info .tetris_rate {
	grid-area: trt;
	width: 78px;
	height: 61px;
	padding: 3px;
}

.board {
	grid-area: board;
	position: relative;
	--border-size: 12;
	padding: 3px;
	width: 356px;
	height: 716px;
}

.names {
	grid-area: name;
	height: 28px;
	display: flex;
}

.profile {
	grid-area: board;
	z-index: 1;
	width: 356px;
	height: 716px;
	margin: auto;
	background: black;
	opacity: 0.9;
	font-family: 'M PLUS 1p';
	transition: opacity;
	transition-duration: 0.5s;
}

.profile.profile-hidden {
	opacity: 0;
}

.p1 .names {
	flex-direction: row;
}

.p2 .names {
	flex-direction: row-reverse;
}

.names .name {
	flex-grow: 1;
	font-family: 'Misaki Gothic';
	text-align: center;
}

.names .name .english {
	font-family: 'Press Start K';
	font-size: 60%;
	margin-left: 8px;
}

.names .hearts {
	width: 100px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
}

.p1 .names .hearts {
	flex-direction: row;
}

.p2 .names .hearts {
	flex-direction: row-reverse;
}

.names .hearts .unlit {
	color: lightgray;
}

.names .hearts .lit {
	color: red;
}

.hidden {
	display: none;
}
